/*p {*/
/*font-family: monospace;*/
/*font-size: 16px;*/

/*}*/
body {

    color:black;

    font-family: Consolas;
    font-weight: bold;
    /*width: 384px;*/
    /*border-color: #204d74;*/
    /*border-style: ridge;*/
}

.logo {
    background-image: url("../../images/logo-bepensa-new.jpg");
    background-repeat: no-repeat;
    width: 230px;
    height: 66px;
    margin-left: auto;
    margin-right: auto;
    /*width : 100px; /!*width of your image*!/*/
    /*height: 100px; /!*height of your image*!/;*/
}

p.change-font {

    font-weight: bolder;

}

.noteType {
    font-size: 18px;
}

.table-headers{
    font-size: 18px;
}

.date {
    font-family: Consolas;
    font-size: 18px;
}

.company-name {
    font-family: Helvetica;
    font-size: 20px;
}


.customer {
    font-size: 20px;

    line-height: 80%;
    border-width: 2px;
    border-style: ridge;
    border-color: black;
    padding-left: 5px;
    padding-top: 7px;
    margin-bottom: 20px;


}

.customer-name {
    font-weight: bolder;
}

.seller {

    font-size: 20px;
    /*line-height: 80%;*/
    border-width: 2px;
    border-style: ridge;
    border-color: black;
    padding-left: 5px;
    padding-top: 7px;
    margin-bottom: 20px;


}

.footer{
    font-size: 20px;
}

table tbody tr td {
   /*border-width: 1px;*/
    /*border-style: dashed;*/
    font-family: Consolas;

    font-size: 18px;
    max-width: 40px;
    min-width: 0px;

    /*border-width: 1px;*/
    /*border-style: dashed;*/
}

.code-width{}

th {
    font-size: 16px;
    font-weight: bold;
    max-width: 1px;
}

.wrap {
    font-size: 20px;
    font-family: monospace;
    max-width:1px;
    font-weight: bolder;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*word-wrap: break-word;*/

}

table tbody tr td[underline=true] {
    text-decoration: underline;}

.text-to-left{
    text-align: left;
    max-width: 13px;
}

.text-to-right {
    text-align: right;
}
table tbody tr[bold=true] {
    font-weight: bolder;
    font-size: 16px;
    background-color: darkgray;
}

div[show=false] {
    display: none;
}

span[show=false] {
    display: none
}

table thead tr th {
    font-family: Consolas;
    /*border-style: solid;*/
    /*border-width: 1px;*/
}

.zero-width {
    max-width: 0px;
    width: 0px;
}


