<!DOCTYPE html>
<html ng-app="app" manifest="manifest.fm">
<head>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="css/ticket/format.css" rel="stylesheet" type="text/css"/>

    <script src="js/angular/angular.js" type="text/javascript"></script>
    <script src="js/utils/products.js" type="text/javascript"></script>
    <script src="js/utils/configuration.js" type="text/javascript"></script>
    <!--<script src="js/utils/components.js" type="text/javascript"></script>-->
    <!--<link href="bootstrap-responsive.css" rel="stylesheet" type="text/css"/>-->
</head>
<body onload="" ng-controller="TicketController" class="container">
<div class="row ">
    <div class="col-md-10 ticket-width">
        <br/>

        <p class="noteType">{{ticket.noteType}}</p>

        <div class="logo"></div>
        <p class="company-name">{{ticket.companyName}}</p>

        <p class="date">Fecha: {{ticket.date}}</p>

        <div class="customer">
            <p>Cliente: {{ticket.customer.code}} </p>
            <p class="customer-name">{{ticket.customer.name}}</p>
            <p>{{ticket.customer.address}}</p>
        </div>

        <div class="seller">
            <p>Vendedor: {{ticket.employee.name}}</p>

        </div>
        <div class="panel panel-default" show="{{ticket.showProducts}}">
            <!-- Default panel contents -->
            <div class="panel-heading table-headers">{{ticket.productsHeader}}</div>

            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th colspan="5">Descripción</th>
                </tr>
                <tr>
                    <th class="text-to-left">Código</th>
                    <th class="text-to-right">Cantidad</th>
                    <th class="text-to-right">Precio</th>
                    <th colspan="2"  class="text-to-right">Total</th>

                </tr>
                </thead>
                <tbody product-row ng-repeat="product in ticket.selectedProducts track by $index"></tbody>
            </table>


        </div>

        <div class="panel panel-default" show="{{ticket.showPromotions}}">
            <!-- Default panel contents -->
            <div class="panel-heading table-headers">{{ticket.promotionsHeader}}</div>

            <!-- Table -->
            <table class="table">
                <thead>
                <tr>

                    <th colspan="4">Descripción</th>
                </tr>
                <tr>

                    <th class="text-to-left">Código</th>
                    <th class="text-to-right">Cantidad</th>
                    <th colspan="2" class="text-to-right">Total</th>

                </tr>
                </thead>
                <tbody promotion-row ng-repeat="product in ticket.selectedPromotions track by $index"></tbody>
            </table>



        </div>

        <div class="panel panel-default" show="{{ticket.showReplacements}}">
            <!-- Default panel contents -->
            <div class="panel-heading table-headers">{{ticket.replacementsHeader}}</div>

            <!-- Table -->
            <table class="table">
                <thead>
                <tr >
                    <th colspan="3">Descripción</th>
                </tr>
                <tr>

                    <th class="text-to-left">Código</th>
                    <th colspan="2" class="text-to-right">Cantidad</th>
                </tr>
                </thead>

                <tbody replacement-row ng-repeat="product in ticket.selectedReplacements track by $index"></tbody>


            </table>

        </div>
        <p class="footer">{{ticket.footer}}</p>
    </div>


</div>
</body>
</html>